.btn-grey {
    color: #4A5677;
    background: #F2F3F7;
    padding: 12px 16px;
    border: 1px solid #DBE3EF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 6px;

    &-disabled {
        opacity: 0.6;
        color: #4A5677;
        background: #F2F3F7;
        padding: 12px 16px;
        border: 1px solid #DBE3EF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
        border-radius: 6px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-grey:hover {
    background: #F4F6FD;
}

.btn-grey:active {
    background: #EEEFF3;
}

.btn-green {
    color: #FFFFFF;
    background: #3ACE5A;
    border: 1px solid #2AB448;
    padding: 12px 16px;
    box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
    border-radius: 6px;

    &-disabled {
        opacity: 0.6;
        color: #FFFFFF;
        background: #3ACE5A;
        border: 1px solid #2AB448;
        padding: 12px 16px;
        box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
        border-radius: 6px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-green:hover {
    background: #4DDC6C;
}

.btn-green:active {
    background: #34C855;
}

.btn-red {
    color: #FFFFFF;
    padding: 12px 16px;
    background: #E64135;
    border: 1px solid #CD1F13;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 6px;

    &-disabled {
        color: #FFFFFF;
        padding: 12px 16px;
        background: #E64135;
        border: 1px solid #CD1F13;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
        border-radius: 6px;
        opacity: 0.6;

        &:hover {
            cursor: default;
        }
    }
}

.btn-red:hover {
    background: #F35549;
}

.btn-red:active {
    background: #E13A2E;
}

.btn-white {
    color: #4A5677;
    padding: 12px 16px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F9FF 100%);
    border: 1px solid #DBE3EF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
    border-radius: 6px;

    &-disabled {
        opacity: 0.6;
        color: #4A5677;
        padding: 12px 16px;
        background: linear-gradient(180deg, #FFFFFF 0%, #F8F9FF 100%);
        border: 1px solid #DBE3EF;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
        border-radius: 6px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-white:hover {
    background: linear-gradient(180deg, #FFFFFF 0%, #FCFCFF 100%);
}

.btn-white:active {
    background: linear-gradient(180deg, #F8F9FF 0%, #F1F2F5 100%);
}

.btn-blue {
    color: #FFFFFF;
    padding: 12px 16px;
    background: #5180FB;
    border: 1px solid #3465E6;
    box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
    border-radius: 6px;

    &-disabled {
        opacity: 0.6;
        color: #FFFFFF;
        padding: 12px 16px;
        background: #5180FB;
        border: 1px solid #3465E6;
        box-shadow: 0px 2px 6px rgba(162, 158, 176, 0.3);
        border-radius: 6px;

        &:hover {
            cursor: default;
        }
    }
}

.btn-blue:hover {
    background: #618CFF;
}

.btn-blue:active {
    background: #4A78F2;
}

.btn-cyan{
    color: #FFFFFF;
    padding: 12px 16px;
    background: #2FAFDB;
    border: 1px solid #1496C2;
    box-shadow: 0px 4px 8px #ADEAFF;
    border-radius: 6px;

    &-disabled {
        opacity: 0.6;
        color: #FFFFFF;
        padding: 12px 16px;
        background: #2FAFDB;
        border: 1px solid #1496C2;
        box-shadow: 0px 4px 8px #ADEAFF;
        border-radius: 6px;

        &:hover {
            cursor: default;
        }
    }
    &:hover{
        background: #2f96db;
    }
    &:active{
        background: #2fdbdb;
    }
}